.button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  border-radius: 20px;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  cursor: pointer;
}