.target-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.warning {
	color: var(--warning-color);
	border: 1px solid var(--warning-color);
	padding: 0.5rem;
}
