.selector-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
}

.selector-container select {
  color: var(--primary-color);
  font-weight: 700;
  padding: 0.2rem;
  background-color: var(--secondary-text-color);
}

.selector-container select:hover,
option:hover {
  cursor: pointer;
}

option,
input {
  color: var(--primary-color);
  font-weight: 700;
  background-color: var(--secondary-text-color);
  padding: 0.2rem;
}
